body
{
    
    font-family: 'Noto Sans TC', sans-serif;
}

.navbar-brand
{
color: white !important;
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    
}
card:hover {
    width: 300px;
    height: 300px;
  }

  